@model List<Employee>
<h1 class="mt-5 py-5">Employee Info</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Age</th>


            </tr>
        </thead>
    <tbody>
    @foreach (var item in Model)
    {
        
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Age</td>


            </tr>
       
    }
    </tbody>
    </table>
    <div class="container p-4">
    <div class=" d-flex justify-content-end ">
        <button type="button" class="btn bg-primary  "> <a href="/Employee/CreateEmployee" class="text-decoration-none text-white">Add New Employee</a></button>
    </div>

    </div>
